footer {
  font-size: var(--body-font-size-xs);
}

footer .footer > .columns-wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer div picture img {
  max-width: 98vw;
}

.footer-cols {
  text-align: center;
  margin-top: 2rem;
}

.footer-links ul {
  padding-left: 0;
}

.footer-links li {
  list-style-type: none;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }

  .footer-cols {
    text-align: left;
  }
}
