.steps-block .desktop-hide {
  display: none;
}

@media (width >= 900px) {
  .steps-block .desktop-hide {
    display: block;
  }

  .steps-block .mobile-hide,
  .steps-block .tablet-hide {
    display: none;
  }
}